/* General Card Styling for both pages */
.cardtwo {
  background: url("/public/assets/img/bg_idcard.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%; /* Ensure full width */
  page-break-after: always; /* Ensures the first card goes on the first page */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.cardthree {
  background: url("/public/assets/img/backside.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%; /* Ensure full width */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

@media print {
  /* Page setup for printing */
  @page {
    size: A4; /* You can adjust this based on your requirement */
    margin: 0; /* Remove all margins */
  }

  /* Page break after the first section */
  .cardtwo {
    page-break-after: always;
  }

  .cardthree {
    page-break-before: always; /* Ensure cardthree starts on a new page */
  }

  /* Ensure the printed image fits correctly */
  .imgPdf img {
    width: 100%;
    height: auto;
  }
}

/* Styling for the elements inside the card */
.imgPdf {
  position: absolute;
  top: 23.4%;
  right: 47%;
  width: 300px;
}

.namePdf {
  position: absolute;
  top: 66%;
  height: 145px;
  width: 695px;
  right: 19%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  align-items: center;
}

.namePdf h1 {
  font-size: 50px;
}

.designPdf {
  position: absolute;
  top: 75.7%;
  height: 60px;
  font-size: 35px;
  width: 455px;
  right: 30%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.projectPdf {
  position: absolute;
  top: 82%;
  height: 60px;
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
  align-items: center;
}

.employeidPdf {
  position: absolute;
  top: 86.7%;
  height: 60px;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}

.bloodidPdf {
  position: absolute;
  top: 90%;
  height: 60px;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}

.buttonpdf {
  border: none;
  position: fixed;
  bottom: 0%;
  z-index: 10;
  height: 60px;
  outline: 0;
  text-align: center;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
}

.buttonpdf:hover {
  opacity: 0.7;
}
