.cardtwo {
  background: url("/public/assets/img/bg_idcard.jpeg");
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.cardthree {
  background: url("/public/assets/img/backside.jpeg");
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.title {
  color: grey;
  font-size: 18px;
}

.buttonpdf {
  border: none;
  position: fixed;
  bottom: 0%;
  z-index: 10;
  height: 60px;
  outline: 0;
  text-align: center;
  padding: 8px;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 40%;
  font-size: 18px;
}

.buttonpdf:hover {
  opacity: 0.7;
}

.cardtwo img {
  width: 538px;
  height: 645px;
}

.imgPdf {
  position: absolute;
  top: 23.4%;
  right: 47%;
  width: 300px;
}

.namePdf {
  position: absolute;
  top: 66%;
  height: 145px;
  width: 695px;
  right: 19%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  align-items: center;
}

.namePdf h1 {
  font-size: 50px;
}

.designPdf {
  position: absolute;
  top: 75.7%;
  height: 60px;
  font-size: 35px;
  width: 455px;
  right: 30%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.projectPdf {
  position: absolute;
  top: 82%;
  height: 60px;
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
  align-items: center;
}

.employeidPdf {
  position: absolute;
  top: 86.7%;
  height: 60px;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}

.bloodidPdf {
  position: absolute;
  top: 90%;
  height: 60px;
  font-weight: 800;
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}
